<%=
%>

<% semantic_form_for @publication do |f| %>
    <% f.inputs do %>
      <%= f.input :name %>
      <%= f.input :asset_id %>
      <%= f.input :color %>
      <%= f.input :image %>
  <% end %>
  <%= f.actions %>
<% end %>

<% context.instance_eval  do
  table_for(publication) do
    column :name
    column :type
    column :uri
      table_for publication.sections do
        column :name
        column :asset_id
        column :color
        column :image
      end

  end

  panel "New panel" do
    columns do
      column do
        span "#{publication.name}"
      end
    end
  end

end %>

