// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

//= require select2
// require activeadmin-sortable

$size: 200px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_skin";
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

h1#site_title.site_title {
  background-color: white;
  background: white;
  padding-left: 10px;
  color: #1e2a33;
  text-indent: 0px;
}

.activeadmin-sortable .handle { cursor: ns-resize; }

body.active_admin {

  form {

    // Standard input size for the application
    input[type="text"],
    input[type="number"] {
      width: $size;
    }

    // background color for read-only fields
    input[readonly="readonly"]{
      background-color: #DBDBDB;
      border: 0px solid #DBDBDB !important;
    }

  }// End of Form
}// End of activeadmin

